---
Index:
  StandardLibrary: Yes
Diagnostics:
  ClangTidy:
    FastCheckFilter: None
  UnusedIncludes: None
Completion:
  AllScopes: true

# https://github.com/clangd/clangd/issues/45
#
---
If:
  PathMatch: .*\component.ixx$
CompileFlags:
  Add:
    - "-include=libiw4x/component.hxx"
...
